.event-logo {
    width: 100%;
    max-width: 400px;
}
.event-content {
    padding: 5vh 5vw;
    margin: 0 auto;
    height: auto;
}
.site-card-border-less-wrapper {
  padding: 30px;
}

.search {
    height: 22.5px;
}
