.button-container {
    display:inline-block;
    position:relative;
}

.tutorial-button {
    position: absolute;
    top:0;
    right:0;
}         

.notifications-button {
    position: absolute;
    top:0;
    right:3em;
}     