.event-feedback-form {
    max-width: 800px;
}
.event-feedback-form-forgot {
    float: right;
}
.ant-col-rtl .event-feedback-form-forgot {
    float: left;
}
.event-feedback-form-button {
    width: 100%;
}