@media screen and (min-width: 40em) {
    .event-card {
       max-width: 100%;
    }
}

@media screen and (min-width: 60em) {
    .event-card {
       max-width: calc(50% -  1em);
    }
}
 
@media screen and (min-width: 80em) {
    .event-card {
        max-width: calc(33% - 1em);
    }
}

.event-card {
    margin-top: 8px;
    margin-bottom: 8px;
}

.event-viewmore-form-button .ant-collapse-content-box {
    padding: 0;
    margin-left: 0px;
}