.menu-container {
    width: 240;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.ant-menu-inline:nth-child(2) {
    height: 100%; 
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}