.menu-container {
    width: 240px;
    height: 100vh;
    position:fixed;
    top:0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.ant-menu-inline:nth-child(2) {
    height: 100%; 
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.action-submenu-item {
    padding-left: 24px !important;
}